.social_share_privacy_area {
    clear: both;
	list-style-type: none;
	padding: 0 !important;
	width: auto;
	height: 25px;
	display: block;
}
.social_share_privacy_area li {
	margin: 0 !important;
	padding: 0 !important;
	height: 21px;
	float: left;
}
.social_share_privacy_area li .dummy_btn {
    float: left;
    margin: 0 0 0 10px;
    cursor: pointer;
    padding: 0;
    height: inherit;
}
.social_share_privacy_area li div iframe {
    overflow: hidden;
    height: inherit;
    width: inherit;
}
/* Facebook begin */
.social_share_privacy_area .facebook {
    width: 180px;
    display: inline-block;
}
.social_share_privacy_area .facebook .fb_like iframe {
    width: 145px;
}
/* Facebook end */
/* Twitter begin */
.social_share_privacy_area .twitter {
	width: 148px;
}
.social_share_privacy_area li div.tweet {
	width: 115px;
}
/* Twitter end */
/* Google+ begin */
.social_share_privacy_area .gplus {
	width: 123px;
}
.social_share_privacy_area li div.gplusone {
	width: 90px;
}
/* Google+ end */
/* Switch begin */
.social_share_privacy_area li .switch {
    display: inline-block;
    text-indent: -9999em;
    background: transparent url(../img/privacy/socialshareprivacy_on_off.png) no-repeat 0 0 scroll;
    width: 23px;
    height: 12px;
    overflow: hidden;
    float: left;
    margin: 4px 0 0;
    padding: 0;
    cursor: pointer;
}
.social_share_privacy_area li .switch.on {
    background-position: 0 -12px; 
}
/* Switch end */